<footer>
    <div class="list">
        <div>
            <p>Enlaces relacionados</p>
            <ul>
                <li>Corpus de Literatura Oral</li>
                <li>Corpus Oral y Sonoro del Español rural</li>
                <li>Pan Hispanic Ballad Project</li>
                <li>World Oral Literatura Project</li>
                <li>PhiloBiblon</li>
                <li>Fundación Ramón Menéndez Pidal</li>
                <li>Multilingual Folk Tale Database</li>
                <li>Fundación Joaquín Díaz</li>
            </ul>
        </div>
        <div>
            <p>Contacto</p>
            <ul>
                <li>Adrian Freja del Hoz</li>
                <li>afrejad@gmail.com</li>
                <li>adrian.freja@uptc.edu.co</li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="patners">
        <p>Con el apoyo de:</p>
        <div>
            <img src="https://literaturatradicional.co/images/logogobernacion.jpg" alt="Gobernacion de Boyaca">
            <img src="https://literaturatradicional.co/images/logoMaestria.jpg" alt="Maestria en Literatura">
            <img src="https://literaturatradicional.co/images/logoBanco.jpg" alt="BanrepCultural">
        </div>
    </div>
    <div class="address">
        <div>
            <p>Edificio Central, UPTC, of.203 Av. Central del Norte 39-115</p>
            <p>Tunja, Boyacá, Colombia</p>
            <p>(57)(8)7405626 - EXT 2295</p>
        </div>
    </div>
</footer>