.country_filters {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2em;
    justify-content: center;
    gap: 2em;
  }
  .filter_select {
    border: 1.5px solid #eb5757;
    border-radius: 5px;
    height: 2.6em;
    width: 25%;
    margin-top: 1em;
    color: #eb5757;
    outline: none;
    &:disabled {
      cursor: not-allowed;
      color: #d2bebe;
      border: 1.5px solid #d2bebe;
      opacity: 0.4;
    }
  }
  .btn_filter {
    border: none;
    border-radius: 7px;
    background-color: #eb5757;
    font-weight: 500;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 2.5em;
    width: 13em;
    margin-top: 10px;
    &:hover {
      background-color: #d75050;
      transition: 0.5s;
    }
  }
  .btn_clear {
    border: none;
    border-radius: 7px;
    background-color: white;
    font-weight: 500;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 2.5em;
    width: 13em;
    margin-top: 10px;
    font-weight: 600;
    &:hover {
      background-color: rgba(201, 201, 201, 0.733);
      transition: 0.5s;
    }
  }