<section class="main_new_post">
    <h3 class="new_post">Agregar nuevo post</h3>
    <header class="header_new_post" [formGroup]="newPost">
        <div>
            <mat-form-field color="accent">
                <mat-label>Titulo</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field color="accent">
                <mat-label>Estado</mat-label>
                <select matNativeControl formControlName="status">
                    <option value=""></option>
                </select>
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>Tipo de Post</mat-label>
                <select matNativeControl formControlName="type">
                    <option value=""></option>
                </select>
            </mat-form-field>
        </div>
    </header>
    <main class="editor_new_post">
        <div id="editor">
            <p>Nuevo post !</p>
        </div>
    </main>
    <footer>
        <button mat-ripple class="btn_filter" (click)="savePost()">
            <mat-spinner diameter='20' *ngIf="showLoading"></mat-spinner>
            <p>Guardar</p>
        </button>
    </footer>
</section>