<section class="main_login_container">
    <div class="box_container">
        <header>
            <h2 class="title_sz">Bienvenido</h2>
            <small class="title_sm">
                <b>Ingresa tu cuenta</b>
            </small>
        </header>
        <div class="body_login_container" [formGroup]="logInForm">
            <div class="forms_field">
                <label>
                    <input type="text" formControlName="username" placeholder="Usuario">
                </label>
            </div>
            <div class="forms_field">
                <label>
                    <input type="password" formControlName="password" placeholder="Contraseña">
                </label>
            </div>
            <a (click)="openForgotPassword(forgotPassword)" class="redirect_forgot pointer">¿Olvidaste la contraseña?</a>
            <div class="options_login">
                <button (click)="sendLogIn()">
                    <mat-spinner diameter='20' *ngIf="loadingLogin"></mat-spinner>
                    Entrar
                </button>
            </div>
        </div>
    </div>
</section>

<ng-template #forgotPassword>
    <header class="forgot_header">
        <h3>Recuperar Contraseña</h3>
    </header>
    <section class="forgot_container">
        <mat-form-field>
            <mat-label>Introduce tu nombre de usuario</mat-label>
            <input type="text" matInput [formControl]="forgotUser">
        </mat-form-field>
    </section>
    <footer class="forgot_footer">
        <button mat-button (click)="forgetRef.close()">Cancelar</button>
        <button mat-button color="warn" (click)="forgetPassword()">Recuperar</button>
    </footer>
</ng-template>