.new_book_container {
  & > header.title_new_book {
      color: #404040;
      padding-left: 3em;
    .title {
      font-size: 1.8rem;
    }
    .subtitle {
      font-size: 0.9rem;
      padding-left: 0.7em;
    }
  }
  .body_new_book {
    .container_types_book {
      height: 5em;
      border-bottom: 2px solid #40404011;
      padding-bottom: 1em;
    }
    .body_form {
      margin-top: 2em;
      height: 27em;
      .data_book {
        .first_row,
        .last_row {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 2em;
          gap: 1.5em;
          & > input[type="text"] {
            border: none;
            outline: none;
            border-bottom: 2px solid #eb57578a;
            width: 15em;
            font-size: 0.8rem;
          }
        }
      }
      .content_book {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 4em;
        height: 63%;
      }
      .footer_book {
          display: flex;
          justify-content: center;
          align-items: baseline;
          gap: 2.5em;
          margin-top: 1em;
          padding: 0 4em;
        input {
          border: none;
          outline: none;
          border-bottom: 2px solid #eb57578a;
          width: 12em;
          font-size: 1rem;
        }
        select {
          border: 1px solid #eb5757;
          border-radius: 5px;
          height: 2.6em;
          width: 16%;
          margin-top: 1em;
          color: #eb5757;
          outline: none;
        }
        .save_btn {
          border: none;
          border-radius: 10px;
          width: 15%;
          height: 2.5em;
          background-color: #eb5757;
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}
