<div class="container_layout">
    <aside class="navbar">
        <div class="user_container">
            <div class="img_user">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_d3SP2vKOeGFVESn5rk6xnPiQ0naW2e-ldA&usqp=CAU">
                {{user | titlecase}}
            </div>
        </div>
        <ul>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fas fa-columns"></i>Dashboard
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p routerLink="../app/dashboard" routerLinkActive="active">Obras</p>
                    <p routerLink="../app/posts" routerLinkActive="active">Post</p>
                </mat-expansion-panel>
                <mat-expansion-panel id="test">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fas fa-book"></i>Analisis
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Analizar Obra</mat-panel-title>
                            </mat-expansion-panel-header>
                            <p (click)="goToSearch('', 'getCountWords', 'contar-palabras')">Contar Palabras</p>
                            <p (click)="openModal(count_frase, 'getCountPhrase', 'contar-frases')">Contar Frases</p>
                            <p (click)="openModal(frase, 'getWordMonit', 'monitoreo-de-palabras')">Monitoreo de
                                Palabras</p>
                            <p (click)="openModal(count_frase, 'getSameSentence', 'oraciones-con-el-mismo-inicio')">
                                Oraciones con el mismo
                                inicio</p>
                            <p (click)="openModal(count_frase, 'getSameBeginning','parrafos-con-el-mismo-inicio')">
                                Parrafos con el mismo
                                inicio</p>
                            <p routerLink="../app/analisis-obra/nombres-propios">Nombres Propios</p>
                            <p routerLink="../app/analisis-obra/porcentajes-de-coincidencias">Porcentajes de
                                coincidencias</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <p>Analizar Texto</p>
                </mat-expansion-panel>
                <mat-expansion-panel id="test">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fas fa-plus-circle"></i> Nuevo
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p routerLink="../app/nueva-obra">Nueva Obra</p>
                    <p routerLink="../app/nuevo-post">Nuevo Post</p>
                    <p (click)="openDialog(users)">Nuevo colaborador</p>
                </mat-expansion-panel>
            </mat-accordion>
            <li (click)="logOut()">
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
            </li>
        </ul>
    </aside>
    <div class="render_components">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #users>
    <header class="header_users">
        <h3>Lista de colaboradores</h3>
        <div class="add_users" (click)="openCreateUser(createUser)">
            <mat-icon>
                person_add
            </mat-icon>
            Agregar colaborador
        </div>
    </header>
    <section class="table_users">
        <table width="100%">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Email
                </th>
                <th>

                </th>
            </tr>
            <tr *ngFor="let user of dummyData">
                <td>
                    {{user?.fullname}}
                </td>
                <td>
                    {{user?.email}}
                </td>
                <td (click)="deleteUser(user._id)">
                    <i class="fas fa-trash"></i>
                </td>
            </tr>
        </table>
    </section>
</ng-template>
<ng-template #createUser>
    <header>
        <h3>
            <mat-icon>
                person_add
            </mat-icon>
            Agregar Colaborador
        </h3>
    </header>
    <section class="form_users">
        <form [formGroup]="userForm">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="fullname">
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error
                    *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="userForm.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </section>
    <footer class="buttons_user">
        <button mat-ripple class="btn_cancel" (click)="userDialogRef.close()">
            Cancelar
        </button>
        <button mat-ripple class="btn_filter" (click)="saveUser()">
            Guardar
        </button>
    </footer>
</ng-template>
<ng-template #count_frase let-data>
    <header style="margin-bottom: 1em;">
        <h4>Agrega el numero de palabras/frases</h4>
    </header>
    <section style="display: flex;align-items: center;justify-content: center;">
        <mat-form-field>
            <mat-label>Numero</mat-label>
            <input matInput #count>
        </mat-form-field>
    </section>
    <footer style="display: flex;align-items: center;justify-content: center; gap: 2em;">
        <button mat-button>Cancelar</button>
        <button mat-button color="accent" (click)="goToSearch(count, data.method, data.link)">Buscar</button>
    </footer>
</ng-template>
<ng-template #frase let-data>
    <header style="margin-bottom: 1em;">
        <h4>Agrega la Frase/Oracion</h4>
    </header>
    <section style="display: flex;align-items: center;justify-content: center;">
        <mat-form-field>
            <mat-label>Frase</mat-label>
            <input matInput #phrase>
        </mat-form-field>
    </section>
    <footer style="display: flex;align-items: center;justify-content: center; gap: 2em;">
        <button mat-button>Cancelar</button>
        <button mat-button color="accent" (click)="goToSearch(phrase, data.method, data.link)">Buscar</button>
    </footer>
</ng-template>