.container_layout {
  display: flex;
  height: 100%;
  width: 100%;
  .navbar {
    background-color: #eb5757;
    display: flex;
    flex-direction: column;
    box-shadow: 1px -2rem 5px 3px rgb(0 0 0 / 10%);
    width: 4%;
    transition: 1s;
    &:hover {
      width: 13%;
      transition: 1s;
    }
    .user_container {
      margin: 2em 0 3em 0;
      height: 17%;
      width: 10em;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      .img_user {
        width: 100%;
        display: flex;
        align-items: center;
        color: white;
        gap: 0.9em;
        & > img {
          padding-left: 3px;
          border-radius: 50%;
          width: 3em;
          height: 3em;
          object-fit: contain;
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2em;
      color: white;
      font-weight: 400;
      padding-left: 0;
      overflow: hidden;
      & > li {
        display: flex;
        align-items: center;
        width: 10em;
        gap: 1.5em;
        font-size: 1rem;
        padding: 1em 0 1em 1.5em;
        cursor: pointer;
      }
      .active {
        background-color: #d75050;
      }
    }
  }
  mat-accordion {
    mat-expansion-panel {
      background-color: transparent;
      box-shadow: none!important;
      color: white;
      p {
        cursor: pointer;
        white-space: nowrap;
        padding: 1em;
      }
      .mat-expansion-panel-body {
        padding: 0!important;
      }
    }
  }

  mat-expansion-panel-header {
    width: 10em;
  }

  mat-panel-title {
    gap: 2em;
    color: white;
  }
  .render_components {
    width: 96%;
    //test
  }
}
.header_users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .add_users {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }
}
.table_users {
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin-top: 1em;
    th {
      background-color: #fafafa;
      text-align: left;
    }
  }
}

section.form_users {
  margin-top: 3em;
  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    & > mat-form-field {
      width: 70%;
    }
  }
}

.buttons_user {
  display: flex;
  justify-content: space-around;
  .btn_filter {
    border: none;
    border-radius: 7px;
    background-color: #eb5757;
    font-weight: 500;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 2.5em;
    width: 8em;
    margin-top: 10px;
    &:hover {
      background-color: #d75050;
      transition: 0.5s;
    }
  }
  .btn_cancel {
    border: none;
    border-radius: 7px;
    background-color: white;
    font-weight: 500;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 2.5em;
    width: 8em;
    margin-top: 10px;
    &:hover {
      background-color: #d75050;
      transition: 0.5s;
    }
  }
}

.display_pieces {
  display: grid;
  grid-template-rows: auto;

  .header_table {
    display: grid;
    grid-template-columns: 0.5fr repeat(6, 1fr);
    background-color: #f0f0f0;
    padding: 0.6em;
    margin: 2em 2em 0 2em;
    border-radius: 7px;
    b {
      justify-self: center;
    }
  }
  .scrollable_list {
    height: 15em;
    margin-top: 1em;
    .content_table {
      display: grid;
      grid-template-columns: 0.5fr repeat(6, 1fr);
      padding: 1em;
      margin: 0.5em 2em;
      b {
        justify-self: center;
      }
      b.corpus {
        display: grid;
        & > p {
          width: 95%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          padding-bottom: 15px;
        }
      }
    }
  }
}