<div class="container_nav">
    <img src="https://literaturatradicional.co/images/logopw.jpg" alt="logo" height="50" width="50">
    <div class="right_info">
        <span>Literatura Tradicional en Colombia</span>
        <div>
            <a routerLink="/inicio" routerLinkActive="active_link">Inicio</a>
            <a routerLink="/proyecto" routerLinkActive="active_link">Proyecto</a>
            <a routerLink="/corpus" routerLinkActive="active_link">Corpus</a>
            <a routerLink="/bibliografia" routerLinkActive="active_link">Bibliografía</a>
            <a routerLink="/enlaces" routerLinkActive="active_link">Enlaces</a>
            <a routerLink="/contacto" routerLinkActive="active_link">Contacto</a>
        </div>
    </div>
</div>