<div class="main_container_filter">
    <section *ngIf="listFilters" class="filters_type" [formGroup]="filterGroup">
        <div class="first_row">
            <select class="filter_select" formControlName="type">
                <option selected disabled [value]="null">Tipo</option>
                <option *ngFor="let tipo of listFilters['tipo']" [value]="tipo">{{tipo}}</option>
            </select>
            <select class="filter_select" formControlName="genre">
                <option disabled selected [value]="null">Genero</option>
                <option *ngFor="let genero of listFilters['genero']" [value]="genero">{{genero}}</option>
            </select>
            <select class="filter_select" formControlName="genreType">
                <option disabled selected [value]="null">Tipo Genero</option>
                <option *ngFor="let tipoGenero of listFilters['tipoGenero']" [value]="tipoGenero">{{tipoGenero}}
                </option>
            </select>
        </div>
        <div class="second_row">
            <select class="filter_select" formControlName="lyricProseType"
                *ngIf="this.filterGroup.get('genre').value && this.filterGroup.get('genre').value !== 'Narrativa' && !this.filterGroup.get('genreType').value
                || this.filterGroup.get('genre').value && this.filterGroup.get('genre').value !== 'Narrativa' && this.filterGroup.get('genreType').value && this.filterGroup.get('genreType').value !== 'Verso'">
                <option disabled selected [value]="null">Prosa Lirica</option>
                <option *ngFor="let prosaLirica of listFilters['prosaLirica']" [value]="prosaLirica">{{prosaLirica}}
                </option>
            </select>
            <select class="filter_select" formControlName="narrativeProseType"
                *ngIf="this.filterGroup.get('genre').value && this.filterGroup.get('genre').value !== 'Lírica' && !this.filterGroup.get('genreType').value || 
                this.filterGroup.get('genre').value && this.filterGroup.get('genre').value !== 'Lírica' && this.filterGroup.get('genreType').value && this.filterGroup.get('genreType').value !== 'Verso'">
                <option disabled selected [value]="null">Prosa Narrativa</option>
                <option *ngFor="let prosaNarrativa of listFilters['prosaNarrativa']" [value]="prosaNarrativa">
                    {{prosaNarrativa}}
                </option>
            </select>
            <select class="filter_select" formControlName="lyricVerseType"
                *ngIf="this.filterGroup.get('genre').value && this.filterGroup.get('genre').value !== 'Narrativa' && !this.filterGroup.get('genreType').value || 
                this.filterGroup.get('genre').value && this.filterGroup.get('genre').value !== 'Narrativa' && this.filterGroup.get('genreType').value && this.filterGroup.get('genreType').value !== 'Prosa'">
                <option disabled selected [value]="null">Verso Lirica</option>
                <option *ngFor="let versoLirica of listFilters['versoLirica']" [value]="versoLirica">{{versoLirica}}
                </option>
            </select>
        </div>
    </section>
    <mat-divider [vertical]="true"></mat-divider>
    <app-location [filters]="this.filterGroup.value" [showButton]="showButton"
    (locationOutput)="saveFilters($event)" 
    (clear)="clearFilters()"></app-location>
</div>