<section class="main_container_search">
    <input type="text" placeholder="Titulo de la obra o Codigo" (keyup)="filterbySearch($event)">
</section>
<section class="main_container_filter_advance" *ngIf="listFilters">
    <select class="filter_select" (change)="saveFilter('type', $event)">
        <option value="Tipo" disabled selected value="Tipo">Tipo</option>
        <option *ngFor="let tipo of listFilters['tipo']" [value]="tipo">{{tipo}}</option>
    </select>
    <select id="" name="Genero" class="filter_select" (change)="saveFilter('genre', $event)">
        <option value="Genero" disabled selected>Genero</option>
        <option *ngFor="let genero of listFilters['genero']" [value]="genero">{{genero}}</option>
    </select>
    <select class="filter_select" (change)="saveFilter('genreType', $event)">
        <option disabled selected value="Tipo Genero">Tipo Genero</option>
        <option *ngFor="let tipoGenero of listFilters['tipoGenero']" [value]="tipoGenero">{{tipoGenero}}</option>
    </select>
    <select class="filter_select" (change)="saveFilter('lyricProseType', $event)"
        [disabled]="this.filterGroup.get('genre').value === 'Narrativa' || this.filterGroup.get('genreType').value === 'Verso'">
        <option disabled selected value="Prosa Lirica">Prosa Lirica</option>
        <option *ngFor="let prosaLirica of listFilters['prosaLirica']" [value]="prosaLirica">{{prosaLirica}}</option>
    </select>
    <select class="filter_select" (change)="saveFilter('narrativeProseType', $event)"
        [disabled]="this.filterGroup.get('genre').value === 'Lírica' || this.filterGroup.get('genreType').value === 'Verso'">
        <option disabled selected value="Prosa Narrativa">Prosa Narrativa</option>
        <option *ngFor="let prosaNarrativa of listFilters['prosaNarrativa']" [value]="prosaNarrativa">{{prosaNarrativa}}
        </option>
    </select>
    <select class="filter_select" (change)="saveFilter('lyricVerseType', $event)"
        [disabled]="this.filterGroup.get('genreType').value === 'Prosa'">
        <option disabled selected value="Verso Lirica">Verso Lirica</option>
        <option *ngFor="let versoLirica of listFilters['versoLirica']" [value]="versoLirica">{{versoLirica}}</option>
    </select>
    <select class="filter_select" (change)="saveFilter('country', $event)">
        <option disabled selected value="Pais">Pais</option>
        <option *ngFor="let pais of listFilters['pais']" [value]="pais">{{pais}}</option>
    </select>
    <select class="filter_select" (change)="saveFilter('state', $event)" [disabled]="this.filterGroup.get('country').value !== 'Colombia'">
        <option disabled selected value="Estado">Estado/Departamento</option>
        <option *ngFor="let estado of listFilters['estado']" [value]="estado">{{estado}}</option>
    </select>
    <select class="filter_select" (change)="saveFilter('city', $event)" [disabled]="!this.filterGroup.get('state').value">
        <option disabled selected value="Ciudad">Ciudad</option>
        <option *ngFor="let ciudad of listFilters['ciudad']" [value]="ciudad">{{ciudad}}</option>
    </select>
    <button mat-ripple class="btn_filter" (click)="filtrarObras()">
        <mat-spinner diameter='20' *ngIf="loadingFilter"></mat-spinner>
        <p>Filtrar</p>
    </button>
    <!-- <button (click)="filtrarObras()" class="btn_filter">Filtrar</button> -->
</section>
<section class="main_list_books">
    <div>
        <table>
            <tr>
                <th (click)="selectAllPieces()">
                    <i class="far fa-circle"></i>
                </th>
                <th>
                    Codigo
                </th>
                <th>
                    Titulo
                </th>
                <th class="content">
                    Contenido
                </th>
                <th>
                    Departamento
                </th>
                <th>
                    Municipio
                </th>
                <th>
                    Tipo de obra
                </th>
            </tr>
            <tr *ngFor="let blog of listFiltered">
                <td (click)="selectOnePiece(blog)">
                    <i class="far fa-check-circle" *ngIf="blog?.select" style="color: green;"></i>
                    <i class="far fa-circle" *ngIf="!blog?.select"></i>
                </td>
                <td>
                    {{blog?.code}}
                </td>
                <td>
                    {{blog?.title}}
                </td>
                <td>
                    {{blog?.corpus}}
                </td>
                <td>
                    {{blog?.location?.state}}
                </td>
                <td>
                    {{blog?.location?.city}}
                </td>
                <td>
                    {{blog?.type}}
                </td>
            </tr>
        </table>
    </div>
</section>