@use '../../scss/base' as Colors;

.main_container_search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  & > input {
    height: 2em;
    padding: 0.5em;
    border: 2px solid#eb5757;
    border-radius: 20px;
    width: 30%;
    outline: none;
    padding-left: 1em;
    &::placeholder {
      font-style: italic;
      padding-left: 1em;
    }
  }
}

.main_list_books {
  height: 69%;
  overflow-y: scroll;

  .display_pieces {
    display: grid;
    grid-template-rows: auto;

    .header_table {
      display: grid;
      grid-template-columns: 0.5fr repeat(6, 1fr);
      background-color: #f0f0f0;
      padding: 0.6em;
      margin: 2em 2em 0 2em;
      border-radius: 7px;
      b {
        justify-self: center;
      }
    }
    .scrollable_list {
      height: 30em;
      margin-top: 1em;
      .content_table {
        display: grid;
        grid-template-columns: 0.5fr repeat(6, 1fr);
        padding: 1em;
        margin: 0.5em 2em;
        b {
          justify-self: center;
        }
      }
    }
  }
  & > div > table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 2em;
    & > tr > th {
      background-color: #fafafa;
      height: 1.8em;
      text-align: left;
      padding-left: 0.5em;
      &:not(th:first-child) {
        width: 16%;
      }
    }
    & > tr > td {
      padding-left: 0.5em;
      &.corpus {
        display: grid;
        & > p {
          width: 45%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          padding-bottom: 15px;
        }
      }
    }
  }
}
