<section class="main_container_search">
    <input type="text" placeholder="Titulo de la obra o Codigo" (keyup)="filterbySearch($event)">
</section>
<app-filters (filtersApplied)="filtrarObras($event)" [showButton]="true" [loading]="loadingFilter"></app-filters>
<section class="main_list_books">
    <div>
        <table>
            <tr>
                <th (click)="selectAllPieces()">
                    <i class="far fa-circle" *ngIf="!checkAll"></i>
                    <i class="far fa-check-circle" *ngIf="checkAll" style="color: green;"></i>
                </th>
                <th>
                    Codigo
                </th>
                <th>
                    Titulo
                </th>
                <th class="content">
                    Contenido
                </th>
                <th>
                    Departamento
                </th>
                <th>
                    Municipio
                </th>
                <th>
                    Tipo de obra
                </th>
            </tr>
            <tr *ngFor="let blog of listFiltered">
                <td (click)="selectOnePiece(blog)">
                    <i class="far fa-check-circle" *ngIf="blog?.select" style="color: green;"></i>
                    <i class="far fa-circle" *ngIf="!blog?.select"></i>
                </td>
                <td (click)="openDetails(blog)">
                    {{blog?.code}}
                </td>
                <td>
                    {{blog?.title}}
                </td>
                <td class="corpus">
                    <p>{{blog?.corpus}}</p>
                </td>
                <td>
                    {{blog?.location?.state}}
                </td>
                <td>
                    {{blog?.location?.city}}
                </td>
                <td>
                    {{blog?.type}}
                </td>
            </tr>
        </table>
    </div>
</section>
<ng-template #details let-data>
    <app-new-book [piece]="data"></app-new-book>
</ng-template>