<main class="container_home">
    <header>
        <img src="https://literaturatradicional.co/images/header.jpg" alt="header">
    </header>
    <section class="know_project">
        <p>CONOCE EL PROYECTO</p>
        <p>A CONTINUACIÓN PUEDES EXPLORAR EL PROYECTO Y CONTRIBUIR CON ÉL</p>
        <div class="section_options">
            <div>
                <img src="https://literaturatradicional.co/images/presentacion.jpg" alt="presentacion">
                <p>Presentación</p>
                <small>Fundamentos</small>
            </div>
            <div>
                <img src="https://literaturatradicional.co/images/regionalizacion.jpg" alt="regionalizacion">
                <p>Regionalización</p>
                <small>Regiones Culturales</small>
            </div>
            <div>
                <img src="https://literaturatradicional.co/images/pic03.jpg" alt="Contribuye">
                <p>Contribuye</p>
                <small>Un proyecto que debe crecer.</small>
            </div>
        </div>
    </section>
    <section class="corpus_biblio">
        <div>
            <header>
                <h3>EL CORPUS DE LITERATURA TRADICIONAL EN COLOMBIA</h3>
                <p>EN ESTA SECCIÓN PODRÁS HACER BUSQUEDAS DEL CORPUS</p>
            </header>
            <p>
                El corpus de Literatura Tradional cuenta en este momento con más de 3000 registros
                de diferentes tipos de expresiones literarioas que se han transmitido oralmente a través del tiempo
                y las distintas geografías del país. La finalidad del Corpus es crear un espacio de estudio de la literatura
                tradional en Colombia, para cualquier investigador interesado.
            </p>
        </div>
        <div>
            <header>
                <h3>BIBLIOGRAFÍA DE LA LITERATURA
                    TRADICIONAL EN COLOMBIA
                </h3>
                <p>EN ESTA SECCIÓN ENCONTRARÁS UNA AMPLIA BIBLIOGRAFÍA DE ESTUDIO</p>
            </header>
            <p>
                La bibliografía de la Literatura Tradicional en Colombia cuenta con más de 500 referencias bibliografícas que
                permitirán a cualquier interesado adentrarse en el estudio de las formas de expresión de la literatura tradicional
                de transmisión oral. Los investigadores de diversas disciplinas entrarán aquí un espacio importante de documentación.
            </p>
        </div>
    </section>
    <section class="posts_rel">
        <h1>Publicaciones Relacionadas</h1>
        <div>
            <header>
                <b>
                    Libros
                </b>
                <b>
                    Articulos
                </b>
            </header>
            <div class="books_container">
                <div>
                    <img src="https://literaturatradicional.co/images/poesiapopularcolombiana.jpg" alt="">
                    <div>
                        <p>
                            <b>La Poesía popular Colombiana y sus orígenes Españoles</b>
                        </p>
                        <p>Andrés Pardo Tovar</p>
                        <p>
                            Uno de los primeros textos que aborda las formas tradicionales de la poesía a partir de las <br>
                            relaciones con la lírica hispánica. La mirada de estas líricas tradicionales en Colombia se a partir <br>
                            de la sociologia y musicología
                        </p>
                    </div>
                </div>
                <div>
                    <img src="https://literaturatradicional.co/images/litoralencolombia.jpg" alt="">
                    <div>
                        <p>
                            <b>La Poesía popular Colombiana y sus orígenes Españoles</b>
                        </p>
                        <p>Andrés Pardo Tovar</p>
                        <p>
                            Uno de los primeros textos que aborda las formas tradicionales de la poesía a partir de las <br>
                            relaciones con la lírica hispánica. La mirada de estas líricas tradicionales en Colombia se a partir <br>
                            de la sociologia y musicología
                        </p>
                    </div>
                </div>
                <div>
                    <img src="https://literaturatradicional.co/images/Estudios-sobre-el-romancero-espanol.jpg" alt="">
                    <div>
                        <p>
                            <b>La Poesía popular Colombiana y sus orígenes Españoles</b>
                        </p>
                        <p>Andrés Pardo Tovar</p>
                        <p>
                            Uno de los primeros textos que aborda las formas tradicionales de la poesía a partir de las <br>
                            relaciones con la lírica hispánica. La mirada de estas líricas tradicionales en Colombia se a partir <br>
                            de la sociologia y musicología
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button>
            Compartir
        </button>
    </section>
</main>